<h1>User is already exists, please try with different credentials.</h1>

<a asp-controller="Home" asp-action="Index">Back to Login</a>
<a asp-controller="Home" asp-action="Registration">Back to Registration</a>