<h1 class="text-center">Password is Incorrect! please, try again</h1>

<a asp-controller="Home" asp-action="Index">Back to Login</a>
<a asp-controller="Home" asp-action="Registration">Back to Registration</a>