@{
    TempData["Title"] = "User Registration";
}

<div class="text-center">
    <h1 class="display-4">Registration</h1>
</div>

<div>
    <form asp-controller="Home" asp-action="RegisterUser" method="post">
        <div class="mb-3">
            <label for="username" class="form-label">Username</label>
            <input type="text" name="username" class="form-control" id="username" placeholder="Enter your username" />
        </div>
        <div class="mb-3">
            <label for="email" class="form-label">Email</label>
            <input type="email" name="email" class="form-control" id="email" placeholder="Enter your email" />
        </div>
        <div class="mb-3">
            <label for="password" class="form-label">Password</label>
            <input type="password" name="password" class="form-control" id="password" placeholder="Enter your password" />
        </div>
        <div class="mb-3">
            <label for="confirmPassword" class="form-label">Confirm Password</label>
            <input type="password" name="confirmPassword" class="form-control" id="confirmPassword" placeholder="Enter your confirm password" />
        </div>
        <button type="submit" class="btn btn-primary">Register</button>
    </form>
</div>